html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.super-mascotas-icon {
    width: 200px;
    height: 100px;
}

.navigation-bar {
    background-color: #FFE1E1;
}

.navigation-items-container {
    width: 100%;
    height: 100%;
    margin-left: 6rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.navigation-item {
    color: #000;
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: 700;
}

.cart-button {
    border: none;
    background: none;
    cursor: pointer;
    height: 20px;
}

.cart-icon {
    height: 40px;
}

.carousel-container {
    margin-top: 2rem;
}

.cart-search-container {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}


.navbar-nav {
    flex-direction: default;
}

.carousel-container {
    display: flex;
    justify-content: center;
}



.product-card {
    background: #d9d9d9;
    width: 20rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.product-card-add-to-cart-container {
    background: #f5b32f;
    border-radius: 20px;
    width: 279px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.product-card-add-to-cart-button {
    color: #ffffff;
    text-align: left;
    font: 700 26px "Inter", sans-serif;

}

.product-card-name {
    color: #000000;
    text-align: center;
    font: 700 26px "Inter", sans-serif;
    margin-bottom: 1rem;
}

.product-card-price {
    color: #000000;
    text-align: left;
    font: 700 26px "Inter", sans-serif;
    margin-bottom: 0.70rem;
}

.grid-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


.product-card-image {
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


footer {
    margin: 0;
    padding: 0;
}


.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 123px;
    width: 100%;
    background: #ffe1e1;
}

.footer-row-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-left-bar {
    background: #f0af2e;
    width: 28rem;
    height: 10px;


    overflow: hidden;
}

.footer-right-bar {
    background: #f0af2e;
    width: 28rem;
    height: 10px;


    overflow: hidden;
}

.footer-icons-row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.footer-label {
    color: #000000;
    text-align: center;
    font: 400 1.25rem "Roboto", sans-serif;
}

.form-floating {
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}



@media (min-width: 1200px) {

    .footer-left-bar {
        width: 30rem;
    }

    .footer-right-bar {
        width: 30rem;
    }
}


@media (max-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-left-bar {
        width: 20rem;
    }

    .footer-right-bar {
        width: 20rem;
    }
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-left-bar {
        width: 8rem;
    }

    .footer-right-bar {
        width: 8rem;
    }

}