body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.super-mascotas-icon {
    width: 200px;
    height: 100px;
}

.navigation-bar {
    background-color: #FFE1E1;
}

.navigation-items-container {
    width: 100%;
    height: 100%;
    margin-left: 6rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.navigation-item {
    color: #000;
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: 700;
}

.cart-button {
    border: none;
    background: none;
    cursor: pointer;
    height: 20px;
}

.cart-icon {
    height: 40px;
}

.carousel-container {
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.cart-search-container {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}


.navbar-nav {
    flex-direction: default;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column-reverse;
    }
}