html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.store-list-container {
    background-color: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    display: flex;
    flex-direction: column;
}

.section-title-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-title-text {
    margin-left: 2rem;
    margin-right: 2rem;
    color: black;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.section-title-line {
    width: 30%;
    height: 10px;
    background: #F0AF2E
}

.about-us-container {
    margin-top: 2rem;
}

.title {

    font-weight: 700;
    word-wrap: break-word;
}


.title {
    color: black;
    font-size: 26px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
}

.text {
    color: black;
    font-size: 26px;
    font-family: Inter;
    font-weight: 300;
    word-wrap: break-word;
}

.highlight {
    font-size: 28px;
    font-weight: 600;
}



@media (max-width: 500px) {
    .store-list-container {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .section-title-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-title-line {
        width: 6%;
    }

}

@media (min-width: 501px) {
    .store-list-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .section-title-line {
        width: 10%;
    }
}

@media (min-width: 1251px) {
    .store-list-container {
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

@media (max-width: 1250px) {
    .store-list-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

}